---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../layouts/waitlist/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import JoinHeader from "../layouts/getstarted/JoinHeader.astro";
import MainSection from "../layouts/getstarted/MainSection.astro";
import GetStarted from "../layouts/getstarted/GetStarted.astro";
import { CircleCheckBig, CircleX } from "@lucide/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    {
      import.meta.env.PIRSCH_KEY && (
        <script
          defer
          src="https://api.pirsch.io/pa.js"
          id="pianjs"
          data-code={import.meta.env.PIRSCH_KEY}
        />
      )
    }
  </head>
  <body class="font-outfit">
    <JoinHeader />
    <main>
      <MainSection />
      <GetStarted />
    </main>
    <Footer />
    <div id="toast-container" class="fixed bottom-4 right-4 z-50 space-y-2">
    </div>
    <div id="toast-icons" class="hidden">
      <div id="toast-icon-success">
        <CircleCheckBig class="w-5 h-5 text-color-primary" />
      </div>
      <div id="toast-icon-error">
        <CircleX class="w-5 h-5 text-color-fail" />
      </div>
    </div>
  </body>
</html>
